
<div class="page-container">
    <app-score-icon>
    </app-score-icon>
    <div *ngIf="!gameState.isGameOver">
        time elapsed: {{timer.counter}}
    </div>
    
    <h1 class="title">
        {{titleString}} <span *ngIf="currentScore">{{currentScore}}</span>
    </h1>
    <div class="board">
        <div class="row">
            <app-tile [highlight]="isInWinningSequence(index)" *ngFor="let index of firstRow" [isDisabled]="getDisabledStatus(index)" (click)="makeMove(index)" [state]="gameState.tictactoe[index]"></app-tile>
        </div>
        <div class="row">
            <app-tile [highlight]="isInWinningSequence(index)" *ngFor="let index of secondRow" [isDisabled]="getDisabledStatus(index)" (click)="makeMove(index)" [state]="gameState.tictactoe[index]"></app-tile>
        </div>
        <div class="row">
            <app-tile [highlight]="isInWinningSequence(index)" *ngFor="let index of thirdRow"  [isDisabled]="getDisabledStatus(index)" (click)="makeMove(index)" [state]="gameState.tictactoe[index]"></app-tile>
        </div>
    </div>
    <button mat-raised-button color="primary" (click)="startNewGame()">Restart</button>
    <button mat-raised-button color="secondary" (click)="startOver()">Change details</button>
</div>



